[submodule "Vendor/googletest"]
	path = Vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vendor/FFTConvolver"]
	path = Vendor/FFTConvolver
	url = https://github.com/HiFi-LoFi/FFTConvolver.git
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Vendor/imnodes"]
	path = Vendor/imnodes
	url = https://github.com/Nelarius/imnodes.git
