[submodule "Vendor/googletest"]
	path = Vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
